<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jacobpugsley</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="row" style="padding: 15px 0;">
        <a class="col-md-3 col-xs-12" href="https://alpineortho.com/our-doctors/" style="color: blue; margin-left: 50px;"><img src="~/images/AOS_FullLogo_color.jpg" style="height: 50px;"/></a>
        <h1 class="col-md-5 col-xs-12 region region-navigation active" style="font-family: New Century Schoolbook; text-align:center; margin-top:0 !important;">Dr. Jacob Pugsley</h1>
        <div class="col-md-offset-1 col-md-2 col-xs-12 region region-navigation active" style="">
            <div id="block-block-1" class="block block-block">
                <div class="block-wrapper">
                    <div class="content">
                        <p style="border: 1px solid #6989B8; border-radius:3px; padding: 3px; text-align: center;"><a href="/node/13">Request An Appointment</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" style="margin: 0 !important; border-radius: 0;">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:white;">
                    <li style="margin-right: 50px;"><a asp-page="/Index">Home</a></li>
                    <li style="margin-right: 50px;"><a asp-page="/About">About Us</a></li>
                    <li style="margin-right: 50px;"><a asp-page="/Services">Services</a></li>
                    <li style="margin-right: 50px;"><a asp-page="/PatientInformation">Patient Information</a></li>
                    <li style="margin-right: 50px;"><a asp-page="/Locations">Locations</a></li>
                    <li style="margin-right: 50px;"><a asp-page="/Contact"></a></li>
                    <li style="margin-right: 50px;"><a href="https://www.facebook.com/alpineorthopaedicspecialists/" target="_blank"><img src="~/images/f-icon.png" style="height: 20px;"/></a></li>
                    <li style="margin-right: 50px;"><a asp-page="/Index"><i class="fab fa-twitter"></i></a></li>
                    <li style="margin-right: 50px;"><a asp-page="/Index"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()

        <footer class="footer">
            <p style="color: #9d9d9d;">&copy; @(DateTime.Now.Year) - Dr. Pugsley</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
