@page
@model AboutModel
@{
    ViewData["Title"] = "Meet the Team";
}
<div class="container">
    <h2 style="font-family: New Century Schoolbook; margin-left: 14px;">@ViewData["Title"]</h2>


    <div class="col-sm-12 col-md-8">
        <h4 style="font-family: New Century Schoolbook; font-size: 19px;">About Dr. Puglsey</h4>

        <p style="text-align: justify;">
            Dr. Pugsley is a licensed osteopathic physician who specializes in non-operative approaches to treating acute, chronic and post-surgical 
            pain.  Dr. Pugsley stays up to date with the latest technology and cutting edge procedures to assist his patients in their 
            treatment and recovery.  He also specializes in sports/musculoskeletal injuries and joint pain.  He is skilled in using several approaches 
            to image-guided injections, using both musculoskeletal ultrasound and fluoroscopy to guide his injections. 
            <br />
            <br />
            Such procedures include:  trigger point injections, diagnostic nerve blocks, epidural spinal injections, kyphoplasty for vertebral 
            compression fractures, radiofrequency ablation and spinal cord stimulation.  Dr. Pugsley also utilizes regenerative medicine treatments 
            such as Platelet-rich plasma (PRP), bone marrow aspirate concentrate (stem cells) among others.  As part of the Physiatry team at 
            Alpine Orthopaedic Specialists, his goal is to keep you participating in the activities you enjoy in life.   
            <br />
            <br />
            Dr Puglsey works exclusively with his Physician Assistant Brian Hess to provide timely care for patients. As Dr Pugsley’s personal 
            Physician Assistant, Hess works closely with Dr Pugsley to gather necessary data and determine appropriate treatment options. Due to their 
            combined efforts, you might see Dr Pugsley’s assistant first.
            <br />
            <br />
            Dr Pugsley has been practicing in  Utah for over 10 years with more than 13 years experience in physiatry. His entire team is committed to 
            providing quality care.
        </p>
    </div>
    <div class="col-md-4" id="desktop-image">
        <img src="~/images/JBP_headshot.jpeg" style="width: 70%; margin-top: 41px; margin-left: 25px;" />
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <h4 style="font-family: New Century Schoolbook; font-size: 19px; text-align: center; margin-bottom: 15px;">Working with Dr. Pugsley</h4>
        <div class="row">
            <div class="col-md-2" style="text-align: center;">
                <img style="width: 80%;" src="~/images/avatar.png"/>
                <h5>Brian D. Hess, P.A. - physician assistant</h5>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <img style="width: 80%;" src="~/images/avatar.png"/>
                <h5>Amber Howe, MA, Xray technician, Clinical manager Brigham city location</h5>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <img style="width: 80%;" src="~/images/avatar.png"/>
                <h5>Joei Fryer, MA</h5>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <img style="width: 80%;" src="~/images/avatar.png"/>
                <h5>Meghan Wright, MA</h5>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <img style="width: 80%;" src="~/images/avatar.png"/>
                <h5>Brady Frazier, RT- facilities manager, Radiology technologist</h5>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <img style="width: 80%;" src="~/images/avatar.png"/>
                <h5>Karrie Booth, RT – Radiology technologist</h5>
            </div>
        </div>
    </div>
</div>