@page
@model LocationsModel
@{
    ViewData["Title"] = "Locations";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="text-align:center;">
            <h2 style="font-family: New Century Schoolbook; font-weight: 550;">Brigham City</h2>
            <hr />
            <h4>1030 Medical Drive<br />Brigham City, Utah 84302</h4>
            <h4>Phone: 435-787-2000</h4>
            <h4>Fax: 435-787-1913</h4>
        </div>
        <div class="col-sm-6" style="padding-top: 15px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.7042585480185!2d-112.02891864884663!3d41.489010897549875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87537abe7fe32fb1%3A0x9fea9c6829901ce1!2s1030%20Medical%20Dr%2C%20Brigham%20City%2C%20UT%2084302!5e0!3m2!1sen!2sus!4v1573700988814!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>


<!-- 
<div class="col-sm-6" style="text-align:center;">
    <h2>North Logan</h2>
    <hr />
    <h4>2310 North 400 East<br />No. Logan, Utah 84341</h4>
    <h4>Phone: 435-787-2000</h4>
    <h4>Fax: 435-787-1913</h4>
</div>
<div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.1351036447372!2d-111.82404348115723!3d41.77414402991426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87547da5b8bc97e3%3A0x73d57a6b00ea3264!2sAlpine%20Orthopaedic%20Specialists!5e0!3m2!1sen!2sus!4v1569381933769!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div> -->
